<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }

        .error-container {
            max-width: 600px;
            margin: 0 auto;
        }

        .error-code {
            font-size: 100px;
            color: #333;
        }

        .error-message {
            font-size: 24px;
            margin-top: 20px;
        }

        .error-link {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

            .error-link:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="error-container">
        <div class="error-message">Lo sentimos, la página que estás buscando no se encontró (-_-) .</div>
        <img src="https://cdn.dribbble.com/users/13213684/screenshots/19501224/media/77c123ab10eb907ed8d8cb06f55c5e25.png" />
    </div>
</body>
</html>
